<div class="container app-grid">
    <div class="card app-card shadow">
        <div>
            <kendo-dialog #windows [title]="'Login'" [minWidth]="width" [width]="width">
              <div style="text-align: center;">

                <div *ngIf="selecaoLogin" style="text-align: center;">
                  <button type="button" name="btnusuext" class="btn btn-even" (click)="ToggleLogin()" >Usuário Externo</button>
                  <button type="button" name="btnloginrede" class="btn btn-even" (click)="LoginRede()">Funcionário Even</button>
                </div>

                <div *ngIf="!selecaoLogin">
                  <div class="form-group row">
                    <label for="Usuario" class="col-4 col-form-label">Usuário</label>
                    <div class="col-4">
                      <input [(ngModel)]="loginVM.Login" name="login" type="text"  placeholder="Usuário"/>
                     </div>
                  </div>
                  <div class="form-group row">
                      <label for="Senha" class="col-4 col-form-label">Senha</label>
                      <div class="col-4">
                        <input [(ngModel)]="loginVM.Password" name="password" type="password" placeholder="Senha"/>
                      </div>
                  </div>
                  <div class="" style="text-align: center;">
                    <button type="button" name="btnlogin" class="btn btn-even" (click)="ToggleLogin()" >Cancelar</button>
                    <button type="button" name="btnlogin" class="btn btn-even" (click)="Login()" >Login</button>
                  </div>
                </div>

              </div>
            </kendo-dialog>
          </div>
    </div>
</div>

