.page-title {
  color: $page-title
}

$card-header-color: #2b5189;

// html body .text-themecolor {
//     color: #22A7BD;
// }
// .topbar {
//     background: #22A7BD;
// }
// /* Padrão do Even */
// .app-card { border-top-color: #22A7BD; }
// .page-titles .breadcrumb li a,
// .card .card-header { color: #22A7BD; }

// .form-control,
// input[type="file"] ~ label {
// 	border-left-color: #22A7BD;
// }

// .custom-file-label::after {
// 	background-color: #22A7BD;
// 	color: #fff;
// }

// .custom-control.custom-checkbox input[type='checkbox']:checked + label::before {
// 	background-color: #22A7BD;
// 	border-color: #22A7BD;
// }
// .custom-control.custom-radio input[type='radio']:checked + label::before {
// 	border-color: #22A7BD;
// }
// .custom-control.custom-radio input[type='radio']:checked + label::after {
// 	background-color: #22A7BD;
// }

// select.form-control option:hover,
// select.form-control option:focus {
//     background-color: darkgoldenrod;
//     color: darkgoldenrod;
// }
// /* tooltips - Legendas */
// .tooltip-inner { background-color: #19BBC1; }
// .tooltip .arrow::before { border-top-color: #19BBC1; }

// /* Paginação */
// .page-item.active .page-link {
//     background-color: #e9ecef;
//     border-color: #e9ecef;
//     color: #835FD3!important;
//     font-weight: bold;
// }
