$accent: #ff4f00;
$primary: #ff4f00;

.k-grid {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.k-grid .grid-actions a {
  color: #696969;
}

.k-tooltip {
	background: $accent !important;
}
.k-tooltip .k-callout {
	color: $accent !important;
}
