<div class="row">
  <div class="col-6">
    <label for="tipo">Tipo</label>
    <kendo-combobox class="form-control custom-select"
                    id="tipo"
                    name="tipo"
                    [data]="formato"
                    [textField]="'text'"
                    [valueField]="'value'"
                    [valuePrimitive]="true"
                    [readonly]="readOnly"
                    (valueChange)="onValueFormatoChange()"
                    [(ngModel)]="TipoEscolhido">
    </kendo-combobox>
  </div>
  <div class="col-6" *ngIf="numerico && TipoEscolhido">
    <label for="formato">Casas decimais</label>
    <kendo-numerictextbox class="form-control"
                          [format]="'0'"
                          [(ngModel)]="FormatoEscolhido"
                          [min]="0" [max]="5"
                          [autoCorrect]="autoCorrect"
                          [readonly]="readOnly"
                          (valueChange)="onValueChange()">
    </kendo-numerictextbox>
  </div>
  <div class="col-6" *ngIf="!numerico && TipoEscolhido">
    <label for="formato">Formato data:</label>
    <kendo-combobox class="form-control custom-select"
                    id="formato"
                    name="formato"
                    [data]="formatodata"
                    [textField]="'text'"
                    [valueField]="'value'"
                    [valuePrimitive]="true"
                    [readonly]="readOnly"
                    [(ngModel)]="FormatoEscolhidoData"
                    (valueChange)="onValueChange()">
    </kendo-combobox>
  </div>
</div>
