
<div [formGroup]="model">

  <div class="k-form-field">
    <input type="radio" id="{{controlName + 'Sim'}}" class="k-radio" [value]="true" [formControlName]="controlName"
           [name]="controlName"  (click)="radioButtonChange(true)">
    <label class="k-radio-label" for="{{controlName + 'Sim'}}">Sim</label>

    <input type="radio" id="{{controlName + 'Nao'}}" class="k-radio" [value]="false" [formControlName]="controlName"
           [name]="controlName" (click)="radioButtonChange(false)">
    <label class="k-radio-label" for="{{controlName + 'Nao'}}">Não</label>
  </div>
</div>





