<div class="page-titles">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="mb-3 mt-4 page-title">Complexidade</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <kendo-card class="form-card" [width]="'100%'">
    <kendo-card-header>
      <h2>
        Detalhes Complexidade
      </h2>
    </kendo-card-header>
    <kendo-card-body>
        <formly-form [form]="Form"
                 [model]="Model"
                 [fields]="Fields">
        </formly-form>
    </kendo-card-body>

  <kendo-card-footer>
  <button type="button" (click)="onBack()" class="btn btn-secondary ml-1">
    Voltar
  </button>
</kendo-card-footer>

  </kendo-card>
</div>